# Django specific
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/

# Environments
.env
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.idea/
.vscode/
*.swp

# Migrations
*/migrations/*

# Static files
staticfiles/
static/